// Colors
$mainTextColor: #222220;
$mainBgColor: #BBB6A8;
$BgColor: #EFE9DD;

$goldColor: #9D875C;
$bgGold:#C1AB81;
$bgBlack: #222220;
$hoverGoldColor: #f0eadf;

// Container
$maxWidthContainer: 1572px;
$containerPadding: 30px;

// media

$ldesktop: 1199.98px;
$mdesktop: 991.98px;
$tablet: 767.98px;
$phone: 479.98px;
$sphone: 320px;