.block-header {
    display: grid;
    gap: toRem(20);
    justify-items: start;
    &--center {
        justify-items: center;
    }

    &--white {
        color: #fff;
    }

    &__label {
        line-height: 156.25%; /* 25/16 */
        text-transform: capitalize;
    }

    &__title {
        font-family: 'Italiana' ;
        color: $goldColor;
        text-transform: capitalize;
        //font-size: toRem(48);
        @include adaptiveValue("font-size", 48, 42, 1);
    }

    &__text {
        display: grid;
        gap: toRem(20);
        line-height: 156.25%;  /* 25/16 */ 
        blockquote {
            font-style: italic;
        }
    }
}